{% extends 'base_auth.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 card-center">
            <div class="card">
                <div class="card-title">
                    <h5>Set New Passwords</h5>
                </div>
                <div class="card-body mx-auto">
                    <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Password" class="form-control form-control-sm passClass">
                            <small class="float-right py-1 showPasswordToggle">SHOW</small>
                        </div>

                        <div class="form-group">
                            <input type="password" name="confirm" placeholder="Confirm Password" class="form-control form-control-sm passClass">
                            <small class="float-right py-1 showPasswordToggle">SHOW</small>
                        </div>

                        <input type="submit" value="Submit" class="btn col-12 btn-secondary submit-btn"/>
                    </form>
                
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <script src="{% static 'js/authentication/showPass.js' %}"></script>

{% endblock %}