{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- {% include 'partials/_messages.html' %} -->

    <div class="user-setting">
        <button class="round" id="setting-button">K</button>

        <div class="settings" id="user-settings" hidden>

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type=submit value="Sign Out">
            </form>

        </div>
    </div>



    <script src="{% static 'js/user-setting.js' %}"></script>
{% endblock %}
