{% load static %}

<button class="search-collapse">
    <i class="fa fa-search"></i>
</button>

<div class="on-top-of-map">
    <div>
        <button type="button" class="btn" id="hide-btn" data-bs-toggle="collapse" data-bs-target="#collapseButtons"
            aria-expanded="false" aria-controls="collapseButtons">
            &gt;
        </button>

        <div class="collapse collapse-horizontal show" id="collapseButtons">
            <button id="barButton" class="btn selection-filter" style="width: max-content;">
                Bar
            </button>
        </div>

        <div class="collapse collapse-horizontal show" id="collapseButtons">
            <button id="foodButton" class="btn selection-filter" style="width: max-content;">
                Food
            </button>
        </div>

        <div class="collapse collapse-horizontal show" id="collapseButtons">
            <button id="activityButton" class="btn selection-filter" style="width: max-content;">
                Activities
            </button>
        </div>

        <div class="collapse collapse-horizontal show" id="collapseButtons" hidden>
            <div class="btn" id="location" style="width: max-content;" data-bs-toggle="modal"
                data-bs-target="#saveModal">
                <span id=star>&#9734</span>
                You are currently viewing:
                <span id="viewingLocation">NOWHERE</span>
            </div>
        </div>

    </div>

    <div class="user-setting">
        <button class="round" id="setting-button">
            {{user.username | capfirst | slice:"0:1"}}
        </button>

        <div class="settings" id="user-settings" hidden>
            
            {% if request.user.is_staff %}
            <a href="{% url 'staff-panel' %}" class="btn form-control mb-2">
                Admin Panel
            </a>
            {% endif %}

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input class="form-control" type="submit" value="Sign Out">
            </form>
        </div> 
    </div>
</div>

<div class="close-direction btn">x</div>

<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">Add to favorites?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>  
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="#ReferredName" disabled name="reference"
                        id="referName">
                </div>

                <div class="form-group mt-2">
                    <input type="text" class="form-control" placeholder="#DisplayName" name="display"
                        id="displayName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                    id="saveLocation">Save</button>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/buttons.js' %}"></script>
<script src="{% static 'js/user-setting.js' %}"></script>
<script src="{% static 'js/collapse.js' %}"></script>