{% load static %}

<div id="sidebar">
    <button class="position-absolute" id="xSidebar">
        <span>x</span>
    </button>

    <div class="sidebar-contents">
        <div class="sidebar-header">
            Settings
        </div>

        <div class="accordion accordion-flush" id="settingAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Saved
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#settingAccordion">
                        {% for area in areas %}
                        <div class="savedArea" data-zip={{area.areaCode}}>
                            {{ area.displayName }}
                        </div>
                        {% endfor %}
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        setting button 2
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#settingAccordion">
                    <div class="accordion-body">
                        settings 2 in here
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        setting button 3
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#settingAccordion">
                    <div class="accordion-body">
                        settings 3 in here
                    </div>
                </div>
            </div>
        </div>  
    </div>


<!-- 
    <div class="sidebar-contents">
        setting stuff
        <button></button>
        <button></button>
        <button></button>
    </div> -->
</div>

<button id="sidebar-btn">
    &gt;
</button>

<script src="{% static 'js/sidebar.js' %}"></script>