.on-top-of-map {
    display: flex;
    position: absolute;
    z-index: 3;
    right: 0px;
    margin-top: 15px;
}

#hide-btn, .collapse-horizontal {
    float: right;
    background-color: white;
    margin: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.user-setting > button.round {
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    /*color selector -- if background too dark then switch text color*/
    background-color: green;
    color: white;
}

.user-setting > button.round:focus {
    outline: none;
}

div#map { 
    outline: none;
}

.user-setting > .settings {
    position: absolute;
    overflow: scroll;
    right: 0px;
    margin: 20px;
    padding: 10px;
    border: solid 1px lightgrey;
    background: white;
    border-radius: 5%;
    height: 400px;
    width: 300px;
}

.user-setting > .settings::-webkit-scrollbar {
    
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    display: block;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

#star {
    color: orange;
}

.sidebar {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    background-color: white;
    top: 60px;
    width: 0px;
    height: calc(100% - 60px);
    transition: width .2s ease;
}

.sidebar.active {
    width: 250px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.xSidebar { 
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: inherit;
    border-radius: 50%;
    z-index: 2;
    border: none;
}

.xSidebar:hover {
    filter:brightness(80%)
}

.sidebar-content {
    transform:translateX(0);
    transition: transform 0.1s ease;
}

.sidebar-content.active {
    transform:translateX(250px);
}

.sidebar-setting {
    position: absolute;
    width: 250px;
}

.sidebar-marker {
    position: absolute;
    width: 250px;
    transform: translateX(-250px);
}

.sidebar-btn {
    position: absolute;
    z-index: 2;
    top: 50vh;
    left: 0px;
    background-color: white;
    border: none;
    opacity: 0.8;
    transition: left .2s ease;
}

.sidebar-btn.active {
    left: 250px;
}

.sidebar-header {
    height: 30px;

    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
    
}

.savedArea {
    white-space: nowrap;
    overflow-x: clip;
    padding: 5px;   
}

.savedArea:hover {
    background-color: rgba(225,225,225,0.5);
}

/* do some calc here? make image more fitted */
#marker-image {
    max-width: 250px;
    max-height: 200px;
    width: 250px;
    height: 200px;
} 

.sidebar-marker > div {
    border-bottom: 1px solid lightgrey;
}

.suggestions-wrapper.hide {
    display: none;
}