.user-setting > button.round {
    position: absolute;
    right: 0px;
    margin: 15px 20px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    /*color selector -- if background too dark then switch text color*/
    background-color: green;
    color: white;
}

.user-setting > button.round:focus {
    outline: none;
}

div#map { 
    outline: none;
}

.user-setting > .settings {
    border: solid 1px lightgrey;
    background: white;
    border-radius: 5%;
    margin: 70px 20px;
    padding: 10px;
    height: 400px;
    width: 300px;
    overflow: scroll;
    position: absolute;
    right: 0px;
}

.user-setting > .settings::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.marker {
    display: block;
    border-radius: 50%;
    cursor: pointer;
}


.mapboxgl-popup {
    max-width: 200px;
}